* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(246, 248, 241);
}
#login-form {
  width: 40%;

  height: 300px;
  margin: 100px auto;
  border: 2px solid #28ee0e;
  border-radius: 20px;
}
#login-form legend {
  margin-left: 8%;
  font-size: 38px;
  color: #4d14e9;
  text-shadow: 1px 1.2px red;
  font-family: Kozuka Mincho Pro H;
}
#content td {
  padding: 10px;
}
#content {
  margin: 35px auto;
  font-size: 20px;
}

#content input[type="text"] {
  width: 500px;
  height: 40px;
  border-radius: 6px;
  font-size: 20px;
  color: blue;
}
#content button {
  width: 180px;
  height: 38px;
  border-radius: 10px;
  background-color: gray;
  font-size: 25px;
  letter-spacing: 0.1rem;
  color: white;
  font-weight: bold;
  padding: 5px;
  line-height: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#content button:hover {
  background-color: green;
  color: #ffa502;
}
.error {
  color: red;
  font-size: 30px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.success {
  color: rgb(19, 179, 19);
  font-size: 30px;
  text-align: center;
}
